// Main footer

.main-footer{
  position: relative;
  height: $footer-height;
  canvas {
    position: absolute;
    top: 0;
    left: 0;
    height: $footer-height;
    width: 100%;
  }
}

.main-footer__content {
  position: relative;
  z-index: 1;
}