template(name='sidebar')
  aside.sidebar.bg-soft-blue
    section.sidebar__container
      .sidebar__top
        +sidebar__mainPic
        +sidebar__headgroup
        +sidebar__menu        
      .sidebar__bottom
        +sidebar__social
