@import '../mixins/colors';

// Colors and bgs

.color-grey{
  color: $grey-color !important;
}

.color-blue{
  color: $blue-color !important;
}

.color-green{
  color: $green-color !important;
}

.color-purple{
  color: $purple-color !important;
}

.color-white{
  color: $white-color !important;
}


.bg-grey{
  background-color: $grey-color !important;
  color: $white-color;
}

.bg-soft-blue{
  background-color: $soft-blue-color !important;
  color: $white-color;
}

.bg-darken-grey{
  background-color: darken($grey-color, 15%) !important;
  color: $white-color;
}

.bg-blue{
  background-color: $blue-color !important;
}

.bg-green{
  background-color: $green-color !important;
}

.bg-purple{
  background-color: $purple-color !important;
}

.bg-black{
  background-color: $black-color !important;
}

.btn-purple{
  background: $purple-color;
  color: $white-color;
}
