template(name='linksList')
  ul.links
    li.links__item
      h5
        i.fa.fa-medium.color-purple
        a.links__link(href='https://medium.com/@cbrwizard' target='_blank')
          | {{_"links.index.medium"}}
    li.links__item
      h5
        i.fa.fa-twitter.color-purple
        a.links__link(href='https://twitter.com/cbrwizard' target='_blank')
          | {{_"links.index.twitter"}}
    li.links__item
      h5
        i.fa.fa-instagram.color-purple
        a.links__link(href='https://instagram.com/cbrwizard/' target='_blank')
          | {{_"links.index.instagram"}}
    li.links__item
      h5
        i.fa.fa-linkedin.color-purple
        a.links__link(href='https://www.linkedin.com/profile/view?id=188836970' target='_blank')
          | {{_"links.index.linkedin"}}
