// All colors

$purple-color: #F92672; // main title
$green-color: #A6E22E; // sub title
$blue-color: #66D9EF; // links
$grey-color: #5F5E5E; // utility text

$black-color: #232323; // main background
$white-color: #fff; // text
$soft-white-color: #f5f5f5; // footer