aside.sidebar--main.col-xs-12.col-md-4.bg-darken-grey
  = render "shared/sidebar/main_sidebar/top_categories"
  = render "shared/sidebar/main_sidebar/sticky_articles"
  = render "shared/sidebar/main_sidebar/ads"