@import './../../support/variables/structure.import';
@import './../../support/variables/colors.import';

// Main container and its contents

.main-container{
  padding: 0 0 50px;
  margin-bottom: -$footer-height;
  min-height: 100%;

  &:after {
    content: "";
    display: block;
    height: $footer-height;
  }
  a {
    color: $blue-color;
    &:hover, &:focus {
      color: lighten($blue-color, 15%)
    }
  }
  p, h1, h2, h3, h4, h5, h6 {
    color: $white-color;
  }
}

.main-container--footer{
  height: $footer-height;
  padding: 0;
}
