@import './../../support/variables/screen-size.import'

// Whole website container (aka body)
.website-container
  display: flex
  min-height: 100vh

  +below($mobileBreakPoint)
    flex-flow: column wrap
