template(name='pagesIndex')
  +pagesIndexArticles
  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus obcaecati doloribus iusto laborum facilis, omnis nobis sequi architecto, tenetur, repellendus numquam! Quaerat provident explicabo nostrum sequi perferendis voluptatum pariatur ab!
  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus obcaecati doloribus iusto laborum facilis, omnis nobis sequi architecto, tenetur, repellendus numquam! Quaerat provident explicabo nostrum sequi perferendis voluptatum pariatur ab!
  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus obcaecati doloribus iusto laborum facilis, omnis nobis sequi architecto, tenetur, repellendus numquam! Quaerat provident explicabo nostrum sequi perferendis voluptatum pariatur ab!
  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus obcaecati doloribus iusto laborum facilis, omnis nobis sequi architecto, tenetur, repellendus numquam! Quaerat provident explicabo nostrum sequi perferendis voluptatum pariatur ab!
