// All colors

$purple-color = #FA5E97
// main title
$green-color = #A6E22E // sub title
$blue-color = #66D9EF // links
$soft-blue-color = #5F6874 //sidebar
$grey-color = #5F5E5E
// main background
$light-grey-color = #909090
// utility text
$white-color = #fff // text
