.color-grey{
  color: $grey-color !important;
}

.color-blue{
  color: $blue-color !important;
}

.color-green{
  color: $green-color !important;
}

.color-purple{
  color: $purple-color !important;
}


.bg-grey{
  background-color: $grey-color !important;
}

.bg-blue{
  background-color: $blue-color !important;
}

.bg-green{
  background-color: $green-color !important;
}

.bg-purple{
  background-color: $purple-color !important;
}

.bg-black{
  background-color: $black-color !important;
}
