template(name='experimentsIndex')
  h1.dynamic-container__heading.color-purple
    | {{_"experiments.index.greeting"}}
  +experimentsList(experiments = experiments)
  p
    a.dynamic-container__link(href="{{pathFor 'links.index'}}")
      | {{_"experiments.index.next"}}
