template(name='footer__code')
  .code
    h5.code__text
      span
        | {{_"shared.sidebar.code.text"}}
      a.code__link(href='https://github.com/cbrwizard/cbrwizard.com', target= '_blank')
        img.code__image(src='images/logos/github.png')
