template(name='footer__createdBy')
  .created-by
    p.created-by__text
      | {{{_'shared.sidebar.created_by.text'}}}
    a.created-by__link(href='mailto:cbrwizard@gmail.com')
      | cbrwizard@gmail.com
