@import './../../support/variables/colors.import'

// Colors and bgs

.color-light-grey
  color: $light-grey-color !important

.color-purple
  color: $purple-color !important


.bg-soft-blue
  background-color: $soft-blue-color !important
  color: $white-color

.bg-darken-grey
  background-color: darken($grey-color, 15%) !important
  color: $white-color

.bg-green
  background-color: $green-color !important
