@import 'public/bower/typographic/stylus/typographic'

// Main picture on top of sidebar
.main-pic__image
  height: 100px
  width: 100%
  background: url('./images/author/main-pic.jpg') center center no-repeat

