@import 'public/bower/typographic/stylus/typographic'

// Main picture on top of sidebar
.main-pic__image
  height: 135px
  background: url('./images/author/main-pic.jpg') center center no-repeat
  background-size: auto 150px

