@import './../../support/variables/colors.import'

// Sidebar menu
.menu
  margin: 0 0 15px
  h4
    margin: 0
    line-height: 1.5

.menu__link
  link($blue-color)

.menu__link--current
  cursor: default
  opacity: 0.5
  color: darken($blue-color, 5%)
  reset-link()
