@import './../../support/variables/structure.import'

// Effect in a footer

.effect
  &, .effect__three-js
    position: relative
    height: $footer-height
    width: 100%

  canvas
    position: absolute
    top: 0
    left: 0
    height: $footer-height
    min-width: 100%
    max-height: $footer-height
    max-width: 100%

.effect--static
  background: url('/images/effects/triangles.jpg') center
  background-size: auto $footer-height
