// Sidebar

.sidebar{
  position: fixed;
  width: 320px;
  height: 100%;
  text-align: right;
  padding-left: 5px;
  z-index: 1;
  .tag-list__tag{
    @extend .color-blue
  }
}

  .sidebar__top{

  }

  .sidebar__bottom{
    position: absolute;
    bottom: 5px;
    right: 15px;
  }


@media (max-width: 991px) {
  .sidebar{
    margin-top: 50px;
  }
}