// Social network links

@mixin transition {
  transition: all .15s;
}

.social__link {
  width: 40px;
  height: 40px;
  border: 2px solid $white-color;
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
  opacity: .7;
  text-align: center;
  @include transition;
  &:hover{
    opacity: 1;
    border: 2px solid $purple-color;
    background: $purple-color;
  }
}

.social__link__icon {
  font-size: 24px;
  color: $white-color;
  margin: 5px;
}