section.main-block.main-block--article.row
  article-directive article-id= params[:id]

/#articlePage
/  header#articleHeader.row
/    .col-xs-12
/      h2.h2.color-purple
/        = @article.title
/  section#pageContent
/    article
/      p
/        = @article.text
/    footer#articleFooter
/      .feeling-block
/        p
/          => t("articles.index.footer.feeling")
/          span.color-purple
/            = h_articles_feeling(@article)
/      .tag-list.color-grey
/        = show_article_tags(@article, 15)