@import './../../../support/variables/colors.import';
@import './../../../shared/helpers/colors';


// Headgroup headings

.headgroup__title{
  margin: 10px 0;
  a{
    @extend .color-blue;
  }
}

.headgroup__sub-title{

}
