@import './../../../support/variables/colors.import'
@import './../../../support/mixins/container-padding.import'


// Headgroup headings

.headgroup
  container-padding()

.headgroup__title
  margin: 10px 0

.headgroup__link
  link: $green-color 'darken'
  &:hover
    border-bottom 1px solid transparent
