@import './../../../support/variables/colors.import'
@import './../../../support/mixins/container-padding.import'

// Sidebar menu

.menu
  margin: 20px 0
  container-padding()

.menu__link
  font-size: 30px
