@import './../../../support/variables/colors.import';
@import './../../../shared/helpers/colors';

// Sidebar menu

.menu {
  margin: 20px 0;
}

.menu__link{
  font-size: 30px;
  @extend .color-blue;
}
