@import './../../../support/variables/colors.import'
$sidebarWidth = 320px

// Sidebar
.sidebar
  position: relative
  flex: 1 0 $sidebarWidth
  text-align: right
  max-width: $sidebarWidth
  .sidebar__bottom
    position: absolute
    bottom: 5px
    right: 15px

+below(600px)
  .sidebar
    max-width: 100%
