@import './../../../support/variables/colors.import'

// Sidebar

.sidebar
  position: fixed
  width: 320px
  height: 100%
  text-align: right
  z-index: 1

  .sidebar__bottom
    position: absolute
    bottom: 5px
    right: 15px


+below(991px)
  .sidebar
    margin-top: 50px
