template(name='sidebar__menu')
  ul.menu
    li
      a.menu__link(href="{{pathFor 'pages.about'}}")
        | {{_"shared.sidebar.menu.about"}}
    li
      a.menu__link(href="{{pathFor 'articles.index'}}")
        | {{_"shared.sidebar.menu.blog"}}
