template(name='sidebar__social')
  .social
    a.social__link.social__link--github(href='https://github.com/cbrwizard',
      target= '_blank')
      i.fa.fa-github.social__link__icon
    a.social__link.social__link--twitter(href='https://twitter.com/cbrwizard', 
      target= '_blank')
      i.fa.fa-twitter.social__link__icon
    a.social__link.social__link--linkedin(href='https://linkedin.com/in/cbrwizard',
      target= '_blank')
      i.fa.fa-linkedin.social__link__icon
