template(name = 'experimentsListItem')
  article.experiment-item
    header.experiment-item__header
      h3.experiment-item__heading
        a(href= '{{url}}', target='_blank')
          =title
    .experiment-item__image
      a.link--image(href= '{{url}}', target='_blank')
        img(src='/images/experiments/{{name}}.jpg')
    p.experiment-item__text
      | {{description this}}
    footer.experiment-item__footer
      time.color-light-grey.article-item__time
        | {{humanDate releaseDate }}
